.container {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: center;
  text-align: center;
  padding: 2rem;
}

.link {
  font-family: var(--font-text);
  color: var(--color-contrast-secondary);
}
