.container {
  display: grid;
  row-gap: 0.5rem;
  justify-items: center;
}

progress {
  --webkit-appearance: none;

  appearance: none;
  width: 250px;
  height: 20px;
}

progress::-webkit-progress-bar {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  border: solid var(--color-contrast-primary) 1px;
}

progress::-webkit-progress-value {
  background-color: var(--color-contrast-primary);
  border-radius: var(--border-radius);
}
