@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-background: #fff;
  --color-text-primary: #030303;
  --color-text-secondary: #fff;
  --color-primary: #ab60b3;
  --color-secondary: #6eccb425;
  --color-contrast-primary: #69b3a0;
  --color-contrast-secondary: #f5c971;

  /* TYPOGRAPHY */
  --font-text: overlock, cursive;

  /* BORDER */
  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: var(--font-text);
}
