.fileUpload {
  display: grid;
  place-content: center;
  background-color: var(--color-contrast-primary);
  border-radius: var(--border-radius);
  font-family: var(--font-text);
  color: var(--color-text-secondary);
  font-size: 18px;
  width: 16rem;
  height: 2.5rem;
}

.defaultButton {
  display: none;
}

.image {
  overflow: hidden;
  object-fit: contain;
}
